@charset "UTF-8";
/* ParentheCSS */
/*
  headings made with DrRacket’s “insert large letters”
  font: Fira Mono
  large: size 17;
  small: size 13;
*/
/*
  IDEA:
  The New York Times is doing mobile navigation
  using a single, sticky horizontal navbar
  at 100vw with `overflow: scroll` for some pages:
  I noticed it on a live updates page about
  the presedent's covid diagnosis,
  where it seemed to do in-page navigation.
*/
/*



                                    ;;
                                    ;;
     ;     ;;  ;;    ;;      ;;    ;;;;;
    ;;;     ; ;;;   ;  ;    ;  ;    ;;
     ;      ;;      ;  ;    ;  ;    ;;
            ;;     ;;  ;;  ;;  ;;   ;;
     ;      ;;      ;  ;    ;  ;    ;;
    ;;;     ;;      ;  ;    ;  ;     ;
     ;     ;;;;      ;;      ;;       ;;;




*/
/*
NOTE:

Setting `font-size` on `:root` does NOT change the meaning
of `rem` in `@media` queries.
Also, `rem` in `@media` queries is broken in Safari,
but `em` is defined to be the same as `rem` there in non-broken
browsers, so just use `em`.
That makes all of this annoying.
*/
/*
FIXME:

`@media` rules and breakpoints are defined under the `floater` widget.
Want a better means of abstraction ...
*/
/* em/rem :: Typically 20px, but accessable. */
/* 27.9rem = c. 558px */
:root {
  font-size: 1.25rem;
  /* This is now 1rem. */
  --the-max-width: 27.9rem;
  /* 27.9rem = c. 558px */
  --page-body-max-width: calc(var(--the-max-width) * 1.6);
  --page-body-min-width: 20rem;
  --lhs-max-width: 8rem;
  --lhs-min-width: 8rem;
  --gutter-min-width: 1rem;
  --gutter-max-width: 1.5rem;
  --outer-horizontal-padding: 1rem;
  /* `--current-lhs-offset` helpers */
  --tmp-multicol-max: calc((2 * var(--outer-horizontal-padding))
                           + var(--lhs-max-width)
                           + var(--gutter-max-width)
                           + var(--page-body-max-width));
  --tmp-offsets-both: calc(100vw - var(--tmp-multicol-max));
  --tmp-raw-lhs-offset: calc(var(--tmp-offsets-both) / 2);
  /* `max()` must get units on both args */
  --current-lhs-offset: max(0px, var(--tmp-raw-lhs-offset));
  --lhs-offset-padding: calc(var(--outer-horizontal-padding)
                             + var(--current-lhs-offset));
  /* */
  --the-line-height: 1.3;
  --h1-size: 2rem;
  --h2-size: 1.35rem;
  --larger-font-size: 1.15rem;
  --smaller-font-size: 0.9rem;
  --parskip: 0.6rem;
  /* TODO: might be better as rellative em */
  --tighter-parskip: calc(var(--parskip) / 2);
  /* for li and dialog elems */
  --body-part-border-width: 0.1rem;
  --pandemic-update-gap: 1.25rem;
  --pandemic-update-border-radius: 1rem;
  /* https://material.io/design/color/text-legibility.html */
  --black-text-color: rgba(0, 0, 0, 0.87);
  --maroon-solid: rgba(128, 0, 0, 1.0);
  --maroon-text: rgba(128, 0, 0, 0.87);
  --solid-episcopal-blue: rgba(3, 108, 182, 1.0);
  --half-episcopal-blue: rgba(129, 182, 219, 1.0);
  /* cf. (3,108,182,0.5) */
  /* */
  font-family: "Cormorant", serif;
  line-height: var(--the-line-height);
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums proportional-nums;
  color: var(--black-text-color);
  /*
    NOTE: don't use
    font-variant-ligatures: discretionary-ligatures;
    It does a very strange "st" ligature with Cormorant.
  */ }

/*


                                                  ;;;;
                                                    ;;
         ;                                          ;;
     ;;;;;   ;;    ;; ;;     ;;    ;;  ;;  ;;;;     ;;
    ;  ;    ;  ;   ;;; ;    ;  ;    ; ;;;      ;    ;;
   ;;  ;;   ;  ;   ;;  ;;   ;  ;    ;;         ;;   ;;
    ;  ;   ;;;;;;  ;;  ;;  ;;;;;;   ;;      ;;;;;   ;;
     ;;     ;      ;;  ;;   ;       ;;     ;   ;;   ;;
   ;;       ;  ;   ;;  ;;   ;  ;    ;;    ;;   ;;    ;
    ;;;      ;;    ;;  ;;    ;;    ;;;;     ;;; ;    ;;;
       ;;
  ;;   ;
    ;;;



*/
a:link, a:visited, a:hover, a:active {
  color: var(--maroon-text);
  font-weight: bold; }

p,
ul,
ol,
address,
figcaption,
summary {
  margin-top: 0px;
  /* var(--parskip); */
  margin-bottom: var(--parskip); }

li {
  margin-top: 0px;
  /* var(--tighter-parskip); */
  margin-bottom: var(--tighter-parskip); }

address {
  font-style: normal; }

span.am-pm-abbrev {
  font-variant-caps: all-small-caps; }

h2,
h3,
h4,
p,
ul,
ol {
  max-width: var(--the-max-width); }

ul,
ol {
  box-sizing: border-box; }

h2 {
  margin-bottom: var(--parskip);
  margin-top: calc(var(--parskip) * 3.5);
  /* never used */
  font-size: var(--h2-size);
  font-family: "Fira Sans", sans;
  font-weight: normal; }

h3 {
  margin-bottom: var(--parskip);
  margin-top: calc(var(--parskip) * 4);
  /* was: 2 */
  font-size: var(--larger-font-size);
  font-family: "Fira Sans", sans;
  font-weight: 300; }

h4 {
  margin-bottom: var(--parskip);
  margin-top: calc(var(--parskip) * 2);
  font-size: var(--smaller-font-size);
  font-family: "Fira Sans", sans;
  font-weight: bold; }

header.event-header {
  display: flow-root;
  /* keeps the blue box from going under `.floater`s */ }
  header.event-header > :first-child {
    margin-bottom: var(--tighter-parskip); }
  header.event-header > :last-child {
    box-sizing: border-box;
    max-width: var(--the-max-width);
    border-style: solid;
    border-color: var(--solid-episcopal-blue);
    --nonleft-border-width: calc(var(--pandemic-update-gap) / 8);
    border-width: var(--nonleft-border-width) var(--nonleft-border-width) var(--nonleft-border-width) calc(var(--pandemic-update-gap) / 2);
    padding: var(--tighter-parskip) var(--pandemic-update-gap);
    margin-bottom: var(--parskip); }
    header.event-header > :last-child > p:first-child {
      font-family: "Fira Sans", sans;
      font-weight: 300;
      color: var(--solid-episcopal-blue); }
    header.event-header > :last-child > :last-child {
      margin-bottom: 0; }

/*
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


   ;;;;
   ;;;;
     ;;                                                ;;
     ;;                                                ;;
     ;;         ;      ;;     ;;    ;;     ;;    ;;  ;;;;;;;
     ;;       ;;;;;     ;     ;    ;;;;    ;;    ;;  ;;;;;;;
     ;;           ;     ;     ;   ;    ;   ;;    ;;    ;;
     ;;         ;;;;     ;   ;    ;    ;   ;;    ;;    ;;
     ;;       ;;;;;;     ;   ;   ;;    ;;  ;;    ;;    ;;
     ;;       ;   ;;     ;   ;    ;    ;   ;;    ;;    ;;
      ;      ;;   ;       ; ;     ;    ;    ;   ;;;     ;
      ;;;;    ;;;; ;;     ; ;      ;;;;     ;;;; ;;     ;;;;;
       ;;      ;   ;       ;        ;;       ;;  ;;       ;
                           ;
                          ;
                        ;;

*/
/*

           ;;                  ;;
           ;;                  ;;
        ;  ;;                  ;;          ;
       ;   ;;;;      ;;     ;;;;; ;     ;   ;
     ;;    ;;  ;    ;  ;   ;   ;;  ;   ;     ;;
   ;;      ;;  ;    ;  ;   ;   ;;  ;   ;       ;;
    ;;     ;;  ;;  ;;  ;; ;;   ;;   ;  ;      ;;
      ;    ;;  ;    ;  ;   ;   ;;   ; ;      ;
       ;;  ;;  ;    ;  ;   ;  ;;;   ; ;    ;;
           ; ;;      ;;     ;;  ;    ;
                                     ;
                                    ;
                                   ;

*/
body {
  background-color: var(--half-episcopal-blue);
  margin: 0px;
  max-width: 100vw; }
  body > * {
    box-sizing: border-box;
    /* so 100% widths work right */
    width: 100%; }
  body > header.site-header,
  body > main,
  body > footer {
    padding-right: var(--lhs-offset-padding);
    padding-left: var(--lhs-offset-padding); }
  body > header.site-header,
  body > footer {
    padding-top: 0.5rem; }

/*

   ;;                          ;;
   ;;                          ;;
   ;;                          ;;
   ;; ;;     ;;    ;;;;     ;;;;;    ;;    ;;  ;;
   ;;; ;    ;  ;       ;   ;   ;;   ;  ;    ; ;;;
   ;;  ;;   ;  ;       ;;  ;   ;;   ;  ;    ;;
   ;;  ;;  ;;;;;;   ;;;;; ;;   ;;  ;;;;;;   ;;
   ;;  ;;   ;      ;   ;;  ;   ;;   ;       ;;
   ;;  ;;   ;  ;  ;;   ;;  ;  ;;;   ;  ;    ;;
   ;;  ;;    ;;     ;;; ;   ;;  ;    ;;    ;;;;


*/
/* Site header stuff */
header.site-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-template-areas: "logo brent-house" "logo episcopal-at-uchicago";
  /* background-color: var(--half-episcopal-blue); */
  /* 0.4rem is usually 8 px, like default body margin */
  padding-bottom: 0.5rem; }
  header.site-header > h1 {
    grid-area: brent-house;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: var(--h1-size);
    font-weight: bold; }
  header.site-header > h1 + p {
    grid-area: episcopal-at-uchicago;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: var(--larger-font-size); }
  header.site-header > .site-logo {
    grid-area: logo;
    align-self: center; }
    header.site-header > .site-logo img {
      max-width: 30vw;
      /* calc(var(--the-max-width) / 3); */
      max-height: 5rem; }

/*

             ;;
                    ;;
                    ;;
     ;;;;  ;;;;    ;;;;;     ;;            ;; ;;   ;;;;   ;     ;
   ;;  ;     ;;     ;;      ;  ;           ;;; ;       ;   ;   ;
    ;        ;;     ;;      ;  ;   ;;;;;   ;;  ;;      ;;  ;   ;
     ;;      ;;     ;;     ;;;;;;          ;;  ;;   ;;;;;   ; ;
       ;;    ;;     ;;      ;              ;;  ;;  ;   ;;   ; ;
   ;   ;     ;;      ;      ;  ;           ;;  ;; ;;   ;;   ; ;
    ;;;    ;;;;;;     ;;;    ;;            ;;  ;;   ;;; ;    ;


*/
body > nav.site-nav {
  background-color: var(--solid-episcopal-blue); }
  body > nav.site-nav > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch; }
    body > nav.site-nav > ul > li {
      /*flex: 1;*/
      display: block;
      box-sizing: border-box;
      margin: 0px; }
      body > nav.site-nav > ul > li > a:link, body > nav.site-nav > ul > li > a:visited {
        display: block;
        box-sizing: border-box;
        height: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: white;
        font-family: "Fira Sans", sans;
        font-weight: normal;
        text-decoration: none; }
      body > nav.site-nav > ul > li > a:hover, body > nav.site-nav > ul > li > a:active {
        background-color: var(--maroon-solid); }
      body > nav.site-nav > ul > li:first-child {
        flex: 1 auto;
        text-align: left;
        border-left: none; }
        body > nav.site-nav > ul > li:first-child > a:link {
          padding-left: var(--lhs-offset-padding);
          padding-right: 1rem; }
      body > nav.site-nav > ul > li:not(:first-child):not(:last-child) {
        flex: 2 auto;
        text-align: center; }
        body > nav.site-nav > ul > li:not(:first-child):not(:last-child) > a:link {
          padding-left: 1rem;
          padding-right: 1rem; }
      body > nav.site-nav > ul > li:last-child {
        flex: 1 auto;
        text-align: right; }
        body > nav.site-nav > ul > li:last-child > a:link {
          padding-left: 1rem;
          padding-right: var(--lhs-offset-padding); }
      body > nav.site-nav > ul > li:not(:first-child) {
        border-left: calc(var(--body-part-border-width) / 2) solid black; }

/*

                     ;;


  ;;;; ;;  ;;;;    ;;;;    ;; ;;
  ;; ;; ;;     ;     ;;    ;;; ;
  ;; ;; ;;     ;;    ;;    ;;  ;;
  ;; ;; ;;  ;;;;;    ;;    ;;  ;;
  ;; ;; ;; ;   ;;    ;;    ;;  ;;
  ;; ;; ;;;;   ;;    ;;    ;;  ;;
  ;; ;; ;;  ;;; ;  ;;;;;;  ;;  ;;


*/
main {
  background-color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  /* in addition to parskip from from final child */
  display: grid;
  grid-template-areas: ".   . header " "lhs . content";
  grid-template-columns: minmax(var(--lhs-min-width), var(--lhs-max-width)) minmax(var(--gutter-min-width), var(--gutter-max-width)) minmax(var(--page-body-min-width), var(--page-body-max-width));
  grid-gap: 0px; }
  main > * {
    box-sizing: border-box; }
  main > header {
    grid-area: header;
    max-width: var(--page-body-max-width); }
    main > header h2 {
      margin-top: 0; }
  main > aside {
    grid-area: lhs;
    max-width: var(--lhs-max-width); }
  main > div.page-body {
    grid-area: content;
    max-width: var(--page-body-max-width); }
    main > div.page-body > :first-child {
      margin-top: 0;
     /*
        If the first child has an upper margin,
        it won't collapse with the margin of the `h2`.
    */ }

/*


                         ;
   ;;;;    ;;;;      ;;;;;   ;;            ;; ;;   ;;;;   ;     ;
   ;;  ;       ;    ;  ;    ;  ;           ;;; ;       ;   ;   ;
   ;;  ;       ;;  ;;  ;;   ;  ;   ;;;;;   ;;  ;;      ;;  ;   ;
   ;;  ;;   ;;;;;   ;  ;   ;;;;;;          ;;  ;;   ;;;;;   ; ;
   ;;  ;   ;   ;;    ;;     ;              ;;  ;;  ;   ;;   ; ;
   ;;  ;  ;;   ;;  ;;       ;  ;           ;;  ;; ;;   ;;   ; ;
   ;;;;     ;;; ;   ;;;      ;;            ;;  ;;   ;;; ;    ;
   ;;                  ;;
   ;;             ;;   ;
   ;;               ;;;


*/
/*
  IDEA:
  use Photon SVG icon for nesting
*/
svg.photon-icon {
  width: 1em;
  height: 1em;
  margin: calc((1em * (var(--the-line-height) - 1)) / 2) 0; }
  svg.photon-icon * {
    fill: currentColor; }

/*
@counter-style empty-counter-style {
    system: cyclic;
    symbols: "";
}

@counter-style page-nav-depth-style {
    /* TODO: `speak-as` * /
    system: additive;
    range: 3 infinite;
    additive-symbols: 2 "▶", 1 " ";
    fallback: empty-counter-style;
    /*
       `suffix` is only used for `::marker`:
       https://www.w3.org/TR/css-counter-styles-3/#counter-style-suffix
       `::marker` isn’t a good choice b/c of a bug from 2000-04-22 (really):
       https://bugzilla.mozilla.org/show_bug.cgi?id=36854
       This is an exceptionally annoying workaround.
   * /
}
*/
main > aside > nav.page-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  counter-reset: page-nav-depth -1;
  /*
      a:link::before {
          display: block;
          flex: 0 max-content; /* fixed to needed size * /
          white-space: pre;
          content: counter(page-nav-depth, page-nav-depth-style);
      }
  */ }
  main > aside > nav.page-nav > div.sticky-shell {
    position: sticky;
    bottom: 0;
    min-height: min(100%, 100vh); }
    main > aside > nav.page-nav > div.sticky-shell > ol {
      position: sticky;
      top: 0; }
  main > aside > nav.page-nav ol {
    counter-increment: page-nav-depth 2;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  main > aside > nav.page-nav ol::after {
    counter-increment: page-nav-depth -2;
    content: "";
    /* needed or the effect is dropped */ }
  main > aside > nav.page-nav li {
    margin: 0px;
    padding: 0px; }
  main > aside > nav.page-nav a:link, main > aside > nav.page-nav a:visited {
    display: flex;
    text-decoration: none;
    color: var(--solid-episcopal-blue);
    padding: calc(var(--tighter-parskip) / 2) var(--tighter-parskip); }
    main > aside > nav.page-nav a:link > :first-child, main > aside > nav.page-nav a:visited > :first-child {
      flex: 0 max-content; }
      main > aside > nav.page-nav a:link > :first-child.nested-page-nav, main > aside > nav.page-nav a:visited > :first-child.nested-page-nav {
        padding: 0 0.25em; }
    main > aside > nav.page-nav a:link > :last-child, main > aside > nav.page-nav a:visited > :last-child {
      display: block;
      flex: 1 0px;
      /* consume whatever space is left */
      font-family: "Fira Sans", sans;
      font-weight: 300; }
  main > aside > nav.page-nav > div.sticky-shell > ol > li:not(:first-child) > a:link {
    padding-top: calc(var(--parskip) * 2); }
  main > aside > nav.page-nav > div.sticky-shell > ol > li:last-child > a:link {
    /* match baseline of RHS */
    padding-bottom: var(--parskip); }
  main > aside > nav.page-nav a:hover, main > aside > nav.page-nav a:active {
    color: white;
    background-color: var(--solid-episcopal-blue); }

/*
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


                ;            ;;
                ;;           ;;
                             ;;                        ;;
                             ;;          ;             ;;
  ;        ;  ;;;;;       ;  ;;     ;;;;;     ;;     ;;;;;;;      ;;
   ;   ;   ;  ;;;;;      ;;;;;;    ;;;;;;;   ;;;;    ;;;;;;;    ;;;;;;
   ;  ;;  ;      ;;     ;    ;;   ;    ;    ;    ;     ;;      ;;     ;
   ;  ;;  ;      ;;     ;    ;;  ;;    ;;   ;;;;;;     ;;       ;
   ;  ; ; ;      ;;    ;;    ;;   ;    ;   ;;;;;;;;    ;;        ;;;;
   ; ;  ; ;      ;;     ;    ;;    ;;;;;    ;          ;;            ;;
   ; ;  ; ;      ;;     ;    ;;    ;;;      ;           ;      ;     ;
    ;;  ;;    ;;;;;;;   ;;;;;;;   ;;;;;      ;;;;;      ;;;;;   ;;;;;;
    ;    ;    ;;;;;;;     ;  ;;     ;;;;      ;;          ;       ;;
                                 ;;    ;;
                                  ;;;;;;
                                   ;;;


*/
/*


                               ;;                    ;;
                               ;;
                               ;;
   ;;;;    ;;;;    ;; ;;    ;;;;;    ;;   ;;;; ;;  ;;;;      ;;;
   ;;  ;       ;   ;;; ;   ;   ;;   ;  ;  ;; ;; ;;   ;;     ;   ;
   ;;  ;       ;;  ;;  ;;  ;   ;;   ;  ;  ;; ;; ;;   ;;     ;
   ;;  ;;   ;;;;;  ;;  ;; ;;   ;;  ;;;;;; ;; ;; ;;   ;;    ;;
   ;;  ;   ;   ;;  ;;  ;;  ;   ;;   ;     ;; ;; ;;   ;;     ;
   ;;  ;  ;;   ;;  ;;  ;;  ;  ;;;   ;  ;  ;; ;; ;;   ;;     ;   ;
   ;;;;     ;;; ;  ;;  ;;   ;;  ;    ;;   ;; ;; ;; ;;;;;;    ;;;
   ;;
   ;;
   ;;


*/
div.pandemic-update {
  box-sizing: border-box;
  padding: var(--pandemic-update-gap);
  border: 0.1rem solid var(--maroon-solid);
  border-radius: var(--pandemic-update-border-radius);
  margin: 0px var(--pandemic-update-gap) var(--parskip) var(--pandemic-update-gap);
  max-width: calc(var(--the-max-width) - (2 * var(--pandemic-update-gap)));
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: var(--pandemic-update-gap);
  grid-template-areas: "asclepius content";
  align-items: center; }
  div.pandemic-update > img {
    grid-area: asclepius;
    height: 5rem; }
  div.pandemic-update > div {
    grid-area: content; }
    div.pandemic-update > div > p:first-child {
      margin-top: 0px;
      font-family: "Fira Sans", sans;
      font-weight: 300;
      color: var(--maroon-text); }
    div.pandemic-update > div > :last-child {
      margin-bottom: 0px; }

/*


   ;;        ;;                       ;;;    ;;
   ;;                                ;
   ;;                    ;          ;;                   ;
   ;;;;    ;;;;      ;;;;;          ;;     ;;;;      ;;;;;
   ;;  ;     ;;     ;  ;           ;;;;;     ;;     ;  ;
   ;;  ;     ;;    ;;  ;;  ;;;;;    ;;       ;;    ;;  ;;
   ;;  ;;    ;;     ;  ;            ;;       ;;     ;  ;
   ;;  ;     ;;      ;;             ;;       ;;      ;;
   ;;  ;     ;;    ;;               ;;       ;;    ;;
   ; ;;    ;;;;;;   ;;;             ;;     ;;;;;;   ;;;
                       ;;                              ;;
                  ;;   ;                          ;;   ;
                    ;;;                             ;;;


*/
figure.big-fig {
  box-sizing: border-box;
  padding: var(--pandemic-update-gap);
  border: 0.1rem solid var(--maroon-solid);
  border-radius: var(--pandemic-update-border-radius);
  margin: 0px var(--pandemic-update-gap) var(--parskip) var(--pandemic-update-gap);
  max-width: calc(100% - (2 * var(--pandemic-update-gap)));
  clear: both; }
  figure.big-fig > * {
    display: block;
    box-sizing: border-box; }
  figure.big-fig > figcaption, figure.big-fig > :not(figcaption) video {
    border: 0.1rem solid black;
    border-radius: var(--pandemic-update-border-radius); }
  figure.big-fig > figcaption {
    width: 100%;
    margin: 0;
    background-color: var(--half-episcopal-blue);
    padding: var(--parskip); }
    figure.big-fig > figcaption > span:only-child {
      display: block;
      box-sizing: border-box;
      max-width: calc(var(--the-max-width) /* HACK: like the pandemic update box contents (looks better for short paragraphs) */ - (4 * var(--pandemic-update-gap)));
      margin: auto; }
  figure.big-fig > :not(figcaption) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    figure.big-fig > :not(figcaption) video {
      object-position: center bottom;
      object-fit: contain; }
  figure.big-fig > figcaption:first-child, figure.big-fig > :not(figcaption):first-child video {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none; }
  figure.big-fig > :not(figcaption):first-child, figure.big-fig > :not(figcaption):first-child * {
    border-top-left-radius: var(--pandemic-update-border-radius);
    border-top-right-radius: var(--pandemic-update-border-radius); }
  figure.big-fig > figcaption:last-child, figure.big-fig > :not(figcaption):last-child video {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none; }
  figure.big-fig > :not(figcaption):last-child, figure.big-fig > :not(figcaption):last-child * {
    border-bottom-left-radius: var(--pandemic-update-border-radius);
    border-bottom-right-radius: var(--pandemic-update-border-radius); }

/*


                          ;;
    ;;      ;;;           ;;                       ;;;
  ;;;;     ;              ;;                      ;   ;
    ;;     ;              ;;;;   ;     ;          ;   ;
    ;;     ;;;            ;;  ;   ;   ;          ;;   ;;
    ;;    ;;  ;           ;;  ;   ;   ;           ;  ;;
    ;;    ;;  ;;          ;;  ;;   ;  ;            ;; ;
    ;;     ;  ;           ;;  ;    ; ;                ;
    ;;     ;  ;           ;;  ;    ; ;               ;
  ;;;;;;    ;;            ; ;;      ;              ;;
                                    ;             ;
                                   ;
                                  ;


*/
.aspect-ratio-box {
  /*
    h/t
    https://stackoverflow.com/a/10441480/2523780
    https://medium.com/bleeding-edge/enforcing-an-aspect-ratio-on-an-html-element-in-react-and-css-27a13241c3d4
  */
  box-sizing: border-box;
  width: 100%;
  height: 0;
  position: relative;
  /* https://github.com/sass/sass/issues/255 */ }
  .aspect-ratio-box * {
    box-sizing: border-box; }
  .aspect-ratio-box > :only-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .aspect-ratio-box > :only-child > :only-child {
      display: block;
      width: 100%;
      height: 100%; }
  .aspect-ratio-box.w16h9, .aspect-ratio-box.w1280h720 {
    padding-bottom: 56.25%;
    /* calc(9 / 16) */ }
  .aspect-ratio-box.w1280h720 {
    max-width: 1280px;
    max-height: 720px; }

/*


      ;;; ;;;;
     ;      ;;                      ;;
    ;;      ;;                      ;;
    ;;      ;;       ;;    ;;;;    ;;;;;     ;;    ;;  ;;
   ;;;;;    ;;      ;  ;       ;    ;;      ;  ;    ; ;;;
    ;;      ;;      ;  ;       ;;   ;;      ;  ;    ;;
    ;;      ;;     ;;  ;;   ;;;;;   ;;     ;;;;;;   ;;
    ;;      ;;      ;  ;   ;   ;;   ;;      ;       ;;
    ;;       ;      ;  ;  ;;   ;;    ;      ;  ;    ;;
    ;;       ;;;     ;;     ;;; ;     ;;;    ;;    ;;;;


*/
.floater {
  clear: both; }

.floater {
  float: right;
  max-width: 45%;
  margin: 0px 0px 2rem 1rem; }
  .floater > img {
    width: calc(0.7 * var(--the-max-width));
    max-width: 100%; }

/*
  Breakpoint states, from widest to narrowest:

    1. multiple columns, `.floater`s float with text wrapping
    2. multiple columns, `.floater`s fill whole body area
    3. single column, `.floater`s float with text wrapping`
    4. single column, `.floater`s fill whole body area

  It would be nice to express #2 with:
  ```
        @media (max-width: x) and (min-width: y) { ... }
  ```
  but Firefox didn't smoothly transition from state #2 to state #3
  if they are written that way.
  Instead, we repeat `.floater`'s #1 style under the rule for #3.
*/
@media (max-width: 45.62575em) {
  .floater {
    float: none;
    max-width: 100%;
    margin: 0px 0px var(--parskip) 0px; }
    .floater > img {
      width: 100%; } }
@media (max-width: 38.75em) {
  .floater {
    float: right;
    max-width: 45%;
    margin: 0px 0px 2rem 1rem; }
    .floater > img {
      width: calc(0.7 * var(--the-max-width));
      max-width: 100%; }

  .page-container {
    grid-template-areas: "lhs" "header" "content";
    grid-template-columns: minmax(auto, calc(100vw - 2rem)); } }
@media (max-width: 34.37575em) {
  .floater {
    float: none;
    max-width: 100%;
    margin: 0px 0px var(--parskip) 0px; }
    .floater > img {
      width: 100%; } }
/**/
.leadership-person {
  /*display: flow-root;
  clear: both;*/ }
  .leadership-person > p:not(:last-of-type) {
    margin-bottom: 0; }
  .leadership-person > p:first-of-type {
    font-style: italic; }
  .leadership-person > p:nth-of-type(2) {
    font-weight: bold; }
  .leadership-person > .floater {
    /*max-height: 12rem;*/
    display: none; }

/*# sourceMappingURL=brenthouse.css.map */
